@import "variables";

@mixin form($direction: column) {
  padding: $content-wrapper-padding;
  display: flex;
  flex-direction: $direction;

  & input {
    border-radius: $border-radius;
    width: 100%;
    font-size: 14px;
    border: 1px solid $border-color;
    padding: $input-padding;
    background-color: $primary-color;
    color: $text-color;

    &:active, &:focus {
      border: 1px solid $active-color;
      outline: none;
    }
  }

  &__error {
    padding: $input-padding;
    color: $error-color;
    text-align: center;
  }
}

@mixin button($color: $active-color, $height: auto) {
  padding: $input-padding;
  background-color: $color;
  color: $text-color;
  cursor: pointer;
  border: none;
  border-radius: $border-radius;
  height: $height;

  &:focus, &:active {
    outline: none;
  }

  &:hover {
    filter: invert(0.1);
  }
}

@mixin header() {
  padding: 0 30px;
  font-size: 26px;
  color: $text-color;
  font-weight: 600;
  text-align: center;
  line-height: 80px;
  height: 80px;
}