$navbar-width: 100px;
$sidebar-width: 350px;
$primary-color: #1a2236;
$border-color: #293145;
$active-color: #0a80ff;
$hover-color: #293145;
$text-color: rgba(255,255,255,.7);
$secondary-text-color: rgba(255,255,255,.4);
$content-wrapper-padding: 17px 30px;
$input-padding: 10px 15px;
$border-radius: 5px;