@import "variables";
@import "mixins";

.sidebar {
  border-right: 1px solid $border-color;

  &__header {
    @include header();
  }

  .form {
   @include form();
  }

  .list {

    &__item {
      padding: $content-wrapper-padding;
      display: flex;
      align-items: center;
      width: 100%;
      border-bottom: 1px solid $border-color;
      position: relative;
      color: $text-color;

      span {
        font-size: 10px;
        position: absolute;
        top: 5px;
        right: 15px;
        color: $secondary-text-color;
      }

      &:hover {
        .actions {
          display: block;
        }
      }

      & .actions {
        margin-left: auto;
        display: none;
        cursor: pointer;
      }
    }
  }
}